__pycache__
*.wav
*.rpp
**/*.repeaks
*.rpp-bak
sweeps/
gras_recording/
sanken_recording/
knowles_array_directivity/sweeps_and_calibration/
sanken_CO-100K/
**/*.mp4
**/*.pdf
results/
images/
offsets/
videos/
audio/
plots/
*.jpg